
    body,html{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background: #4682B4 !important;
    }
    
        .searchbar{
        margin-bottom: auto;
        margin-top: auto;
        height: 60px;
        background-color: #353b48;
        border-radius: 30px;
        padding: 5px;
        }
    
        .search_input{
        color: white;
        border: 0;
        outline: 0;
        background: none;
        width: 450px;
        caret-color:transparent;
        line-height: 2px;
        transition: width 0.4s linear;
        }
    
        .searchbar:hover > .search_input{
        padding: 0 10px;
        width: 450px;
        caret-color:red;
        transition: width 0.4s linear;
        }
    
        .searchbar:hover > .search_icon{
        background: white;
        color: #e74c3c;
        }
    
        .search_icon{
        height: 40px;
        width: 40px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color:white;
        text-decoration:none;
        }

        .titulo{
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
            text-align: center;
            color:white;
       
        }
        .titulo h2 {
            font-size: 65px;
            font-family: 'Lato', sans-serif;
        }
        
        .depois{
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            color:white;
       
        }
    
        
         .fa-instagram{
             color: white;
         }
        .texto-footer{
            color:white;
            float: right;
            font-size: 30px;
         }
         a:link {
            color: white;
          }
        
          a:visited {
            color: white;
          }
         
          a:hover {
            color: white;
          }
         
          a:active {
            color: white;
          }
         footer{
            bottom: 0;
            position: fixed;
            text-align: right;
            right: 2%;
         }
         @media screen and (max-width: 768px) {
            .depois{
                width: 95%;
            }
            #resultado{
                font-size: 20px;
            }
            .titulo{
                width: 95%;
            }
            .searchbar{
                padding: 0px;
            }
            .search_input{
                color: white;
                border: 0;
                outline: 0;
                height: 40px;
                padding: 0 10px;
                background: none;
                width: 95%;
                caret-color:transparent;
                line-height: 2px;
                transition: width 0.4s linear;
                }
            
                .searchbar:hover > .search_input{
                padding: 0 10px;
                width: 95%;
                caret-color:red;
                transition: width 0.4s linear;
                }
                
                .titulo h2 {
                    font-size: 35px;
                    font-family: 'Lato', sans-serif;
                }
                .titulo{
                    width: 100%;
                }
                  
                .texto-footer{
                    font-size: 20px;
                 }
                 .search_icon{
                     margin-top: -35px;
                }
        }